/* fikser whitespace + fonts */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Georgia", serif;
}

body {
  color: #2b2b2b;
  line-height: 1.6;
}

/* hero */
.hero {
  height: 100vh;
  background-image: url("images/gudhjem_is_1300px.jpg.webp");
  background-size: cover;
  background-position: center 2%;
  position: relative;
}

/* hero dæmpet billedet */
.hero::after {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(43, 25, 4, 0.25);
}


.hero-title {
  position: relative;
  z-index: 1;
  height: 100%;
  max-width: 60rem;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  padding: 0 20px;
}

/* "Hele Bornholms ishus på Gudhjem havn" */
.hero h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
}

/* "burgermenu" */
.burger {
  position: fixed;
  top: 1.8rem;
  right: 2rem;
  width: 1.5rem;
  cursor: pointer;
  z-index: 1001;
}

.burger span {
  display: block;
  height: 3px;
  width: 100%;
  background: rgb(0, 0, 0);
  margin-bottom: 5px;

}



/* "EN SØD BID AF BORNHOLM SIDEN 1959" */
.undertekst {
  letter-spacing: 2px;
  font-size: 0.9rem;
  margin-bottom: 1rem;
}

/* "Vi åbner til påske 28. marts og glæder os til at se jer alle" */
.open-Date {
  font-size: 0.9rem;
  opacity: 0.9;
}

/* intro */
.intro {
  padding: 100px 20px;
  text-align: center;
  max-width: 34rem;
  margin: auto;
}

.intro h2 {
  font-size: 2.5rem;
  margin-bottom: 1.5rem;
}

/* historie */
.historie {
  background-color: #7b1f3a;
  color: white;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 60px;
  padding: 100px;
  align-items: center;
}

.historie-image img {
  width: 100%;
  border-radius: 6px;
}

.historie-text h2 {
  font-size: 2rem;
  margin-bottom: 1.5rem;
}

.historie-text p {
  margin-bottom: 1rem;
  font-size: 0.95rem;
}





/* kontakt */
.kontakt {
  background: #f6f3ef;
  padding: 120px 80px;
}

.kontakt-wrapper {
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 80px;
}

/* LEFT */
.kontakt-info h2 {
  font-size: 3rem;
  color: #8b3a1c;
  margin-bottom: 10px;
}

.kontakt-subtitle {
  font-weight: 600;
  margin-bottom: 30px;
}

.kontakt-text {
  max-width: 350px;
  margin-bottom: 60px;
}

.kontakt-details .email {
  margin-bottom: 25px;
  font-size: 0.95rem;
}

.socials span {
  margin-right: 15px;
  font-size: 1.1rem;
  cursor: pointer;
}

/* FORM */
.kontakt-form {
  width: 100%;
}

.kontakt-form .row {
  display: flex;
  gap: 20px;
}

.tekst {
  display: flex;
  flex-direction: column;
  margin-bottom: 25px;
  width: 100%;
}

.tekst label {
  font-size: 0.85rem;
  margin-bottom: 6px;
}

.tekst input,
.tekst textarea {
  border: 1px solid #999;
  padding: 10px;
  background: transparent;
  font-family: inherit;
}

.kontakt-form button {
  background: #b14a1f;
  color: white;
  border: none;
  padding: 12px 40px;
  cursor: pointer;
  font-size: 0.9rem;
  align-self: flex-end;
}

